body {
  background-color: #d60056;
}

nav {
  padding:10px;
}

#logo {
  font-size:1.5em;
}

hr {
    width:50%;
    border: 1px solid #000;
}

.sc {
    font-variant: small-caps;
    /*text-transform: uppercase;*/
}
